body {
  background-color: #eaf6f6;
  text-align: center;
  margin: 0
}

h1 {
  margin: 2.6rem auto 0 auto;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
}

.web {
  text-decoration: underline;
}

.programmer {
  font-weight: normal;
}

.dancing {
  font-family: 'Dancing Script', cursive;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.parisienne {
  font-family: 'Parisienne', cursive;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.img1 {
  border-radius: 100%;
  width: 10%;
}

.img2 {
  border-radius: 100%;
  width: 10%;
}

.img3 {
  border-radius: 100%;
  width: 10%;
}
